.App {
  position: relative;
  min-height: 100vh;
}
.content {
  margin: 0 auto;
  width: 50vw;
  padding: 1rem 2rem 1rem 1rem;
}

.form {
  width: 50%;
  margin: 0 auto;
}

#value {
  width: 100%;
}

#btn-submit {
  text-align: center;
}

#selectors {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
  padding-left: 1em;
}

span {
  margin: 0 1rem;
}

#value {
  margin: 0.5rem 0;
}

.exchangeResult {
  text-align: center;
}